.icon {
  display: block;

  height: $icon-size;
  width: $icon-size;

  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  &--social {
    display: inline-block;
    &:hover path {
      fill: $contrast-color;
    }
  }

  &--fb {
    background-image: url(../images/icons/fb.svg);
  }

  &--twitter {
    background-image: url(../images/icons/twitter.svg);
  }

  &--youtube {
    background-image: url(../images/icons/youtube.svg);
  }

  &--reddit {
    background-image: url(../images/icons/reddit.svg);
  }

  &--close {
    background-image: url(../images/icons/close.svg);
    float: right;
    margin: 1.25rem 1.25rem 0 0;
  }

  &--left {
    background-image: url(../images/icons/arrow-left.svg);
    margin: 1.25rem 0 0 1.25rem;
  }

  &--video {
    position: absolute;
    margin: 0;
    top: 0.5rem;
    right: 0.5rem;
  }
}
