.link {
  position: relative;
  height: 3rem;
  line-height: 3rem;

  &--footer {
    height: 1rem;
    line-height: 1.5rem;
  }

  &:hover {
    background-color: #110e25;
    
    & .mobile-link {
      color: $contrast-color;
    }
  }

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: $contrast-color;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  &:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}
