$bg-gradient: linear-gradient(108deg, #191536 0%, #000 77.34%);
$contrast-color: #05c2df;
$bg-black: #05040b;
$dark-grey: #2f2f2f;
$text-color: #929292;
$white: #fff;
$error-color: #860404;
$bg-drop-down: #191536;

$icon-size: 1rem;
